VITE_FIREBASE_API_KEY=YOUR_API_KEY_HERE
VITE_FIREBASE_AUTH_DOMAIN=chess-b0bcb.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://chess-b0bcb-default-rtdb.firebaseio.com
VITE_FIREBASE_PROJECT_ID=chess-b0bcb
VITE_FIREBASE_STORAGE_BUCKET=chess-b0bcb.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=688423481347
VITE_FIREBASE_APP_ID=YOUR_APP_ID_HERE
